# lint-staged 実行時、このファイル自体も Prettier によるチェック対象外とする
.prettierignore

# Prettier ではなく markdownlint-cli を使う
*.md
*.markdown

# Prettier ではなく yamllint を使う
*.yml
*.yaml

# Husky
.husky/

# textlint
.textlintignore

# proofreading-helper (prh)
/prh-rules/
