# Prettier ではなく markdownlint-cli を使う
*.md
*.markdown

# Prettier ではなく yamllint を使う
*.yml
*.yaml

# ignore ファイル
.gitignore
.gitignore_custom
.markdownlintignore
.prettierignore
.secretlintignore
.textlintignore

# その他の設定ファイル
.husky/
.tool-versions
Makefile

# proofreading-helper (prh)
/prh-rules/
