---
name: Test
"on":
  push:
    branches: main
  pull_request:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm ci
      - name: "Lint: credentials"
        run: npx secretlint "**/*"
      - name: "Lint: npm"
        run: npm run lint
      - name: "Lint: Git commit message"
        # Dependabot によるコミットの場合、commitlint の実行をスキップする。
        # 理由：Dependabot によるコミットメッセージ 1 行の長さが 100 文字を
        # 超えることがあるため。
        if: github.actor != 'dependabot[bot]'
        uses: wagoid/commitlint-github-action@v5
        with:
          configFile: .commitlintrc.yml
      - name: "Lint: YAML"
        uses: karancode/yamllint-github-action@v2.1.1
        with:
          yamllint_strict: true
      - name: "Lint: shell script"
        uses: ludeeus/action-shellcheck@master
        with:
          ignore_paths: .husky/_ node_modules
      - name: "Lint: GitHub Actions workflow"
        # yamllint disable rule:line-length
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color
        # yamllint enable rule:line-length
        shell: bash
# yamllint disable rule:comments-indentation
  # 当リポジトリが npm プロジェクトであり、かつ、package.json に build または
  # test script がある場合、以下のジョブをアンコメントしてください。
  # build:
  #   name: Build
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version-file: .node-version
  #         cache: npm
  #     - run: npm ci
  #     - run: npm run build
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version-file: .node-version
  #         cache: npm
  #     - run: npm ci
  #     - run: npm test
# yamllint enable rule:comments-indentation
